body{
    font-family: 'Lato', sans-serif;
    background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right,#245C97, #0072ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #245C97,#0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #fff;
}
.navbar, h1{
    margin-bottom: 30px;
}
.title {
    font: 400 100px/0.8 'Cookie', Helvetica, sans-serif;
    /* color: #fff; */
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    margin-bottom: 0.3em;
  }

.next-shipment i{
    color: #ffffff;
}

.next-shipment h3 {
    margin: 1em 0;
}

.next-shipment p {
    color: #ffffff;
}

.badge-primary {
    color: #fff;
    background-color: #245c97;
}

.card {
    /* height: 460px; */
    margin-bottom: 2em;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 160px;
    object-fit: cover;    
}
