body{
    font-family: 'Lato', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #245c97;
}
.navbar, h1{
    margin-bottom: 30px;
}

.next-shipment i{
    color: #245c97;
}

.next-shipment h3 {
    margin: 1em 0;
}

.badge-primary {
    color: #fff;
    background-color: #245c97;
}

.card {
    /* height: 460px; */
    margin-bottom: 2em;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 160px;
    object-fit: cover;    
}
